parameters:
    level: 0
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        - '#Call to an undefined method Zend_File_ClassFileLocator::setInfoClass\(\)\.#'
